*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header{
	background-color: black;
	padding-bottom: 420px;
}
.menu{
	margin-top: 60px;
}

.logo{
	margin-top: 55px;
}

.menu ul li{
	display: inline-block;
	margin-left: 40px;
}

.menu ul li a{
	text-decoration: none;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}	
.menu ul li a:hover{
	border-bottom: 3px solid orange;
	padding-bottom: 8px;
}

.welcome{
	margin-top: 200px;
	color: #999999;
	font-family: "Open Sans";
	font-size: 44px;
	line-height: 24px;
	text-transform: uppercase;
}
h1 {
	margin-top: 200px;
	color: #999999;
	font-family: "Open Sans";
	font-size: 44px;
	/*line-height: 24px;*/
	text-transform: uppercase;
	text-align: center;
}
h1 span {
	color: orange;
	font-weight: bold;
}
.header-p {
	/*width: 685px;
	height: 21px;*/
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	/*margin: 0 auto;*/
	text-align: center;
}
.welcome span{
	color: orange;
	font-weight: bold;
}

.aboutus{
	width: 685px;
	height: 21px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -1px;
	text-align: center
}

.somewords{
	margin-top: 15px;
}

.somewords-title{
	border-bottom: 4px solid #fcac45;
	color: #222222;
	font-family: "Open Sans";
	font-size: 34px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.somewords-body{
	margin-bottom: 30px;
	color: #6c6c6c;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.72px;
}

.content1{
	padding-top: 105px;
	background-color: white;
	padding-bottom: 100px;
}

.monitor {
	/*width: 860px;*/
	/*margin-left: 20px;*/
}

.monitor img{
	width: 95%;
}

.somewords-points ul{
	list-style-image: url(img/list_image.png);
	margin-left: 20px;
	color: #5a5a5a;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 25px;
	font-style: italic;
}
.somewords-points ul span{
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.18px;
	font-style: none;
}

@media screen and ( max-width: 989px ){
	.somewords{
		margin-top: 30px;
	}

	.content1{
		margin-left: 20px;
	
	}
}

.content2{
	background-color: black;
	padding-top: 100px;
	padding-bottom: 150px;
}
.our-team {
	width: 220px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.our-team p{
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 40px;
	font-weight: 400;
	text-align: center;
}

.our-team-img{
	width: 100px;
	margin: 0 auto;
}


.name{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}

.pos{
	font-family: "Open Sans";
	font-size: 16px;
	color: #ffffff;
	text-align: center;
}
.text{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	text-align: center;
}

.team-img{
	margin: 0 auto;
	width: 128px;
}

@media screen and ( max-width: 991px ){
	.position{
		margin-bottom: 20px;
	}
}

.content3{
	padding: 100px 50px;
}
.services-title{
	text-align: center;
	color: #222222;
	font-family: "Open Sans - Semibold";
	font-size: 44px;
	font-weight: 400;
}
.services-text{
	color: #6c6c6c;
	font-family: "Open Sans";
	font-size: 16px;
	font-style: italic;
	margin-top: 50px;
	text-align: center;
}
.our-services{
	margin-bottom: 100px;
}
.web-name{
	color: #222222;
	font-family: "Open Sans - Semibold";
	font-size: 25px;
	font-weight: 400;
	text-align: center;
	margin-top: 25px;
}
.web-image{
	width: 125px;
	margin: 0 auto;
}
.web-text{
	text-align: center;
	color: #222222;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}

.content4{
	background-color: black;
	padding-top: 100px;
	padding-bottom: 200px;
}

.clients{
	margin-bottom: 100px;
}

.clients p{
	color: #ffffff;
	font-family: "Open Sans - Semibold";
	font-size: 44px;
	font-weight: 400;
	text-align: center;
}
.brands{
	margin: 0 auto;
	width: 1000px;
}

.brand{
	margin-left: 15px;
}

@media screen and ( max-width: 991px ){
	.brand{
		margin-bottom: 50px;
		margin-left: -10px;
	}
	.brands{
		margin: 0 auto;
		width: 170px;
	}
}

.content5{
	padding-top: 100px;
	padding-bottom: 100px;
}

.our-works-title{
	color: #222222;
	font-size: 44px;
	font-weight: 300;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
}

.our-works-title span{
	font-family: "Open Sans - Semibold";
	font-weight: bold;
	font-size: 44px;
}

.our-works-img{
	width: 100px;
	margin: 0 auto;
}

.portfolio{
	margin-top: 150px;
}
.line1 {

}
.line2{
	margin-top: 30px;
}

.line3{
	margin-top: 30px;
}

@media screen and ( max-width: 993px ){
	.line1{
		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
		width: 263px;
	}

	.line2{
		margin-left: auto;
		margin-right: auto;
		width: 263px;
	}
	.line3{
		margin-left: auto;
		margin-right: auto;
		width: 263px;
	}
}
@media screen and ( max-width: 1199px){
	.line1 img{
		width: 99%;
	}
	.line2 img{
		width: 99%;
	}
	.line3 img{
		width: 99%;
	}

}

.content6{
	background-color: black;
	padding: 100px 20px 170px 20px;

}

.testimonials span{
	color: #ffffff;
	font-family: "Open Sans Semi Bold";
	font-size: 44px;
	font-weight: 600;
}

.testimonials p{
	font-family: "Open Sans";
	font-weight: 300;
	color: #ffffff;
	font-size: 44px;
}
.testimonials{
	text-align: center;
}
.testi-text{
	margin-top: 115px;
	color: #e7e7e7;
	font-family: "Open Sans - Semibold";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.author{
	color: #b2b2b2;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 300;

}

.author span{
	font-family: "Open Sans - Semibold";
	font-weight: 400;
	color: #b2b2b2;
}

.content7{
	padding-top: 100px;
	padding-bottom: 100px;
}

.contact-us-text p{
	color: #6c6c6c;
	font-family: "Open Sans";
	font-size: 16px;
	font-style: italic;
	margin-top: 50px;
	text-align: center;
}
.contact-us-text{
	margin: 0 auto 100px auto;
	max-width: 746px;
}
.contact-form{
	max-width: 770px;
	margin: 0 auto;
}
.inp-name{
	color: #636363;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
}
.inp-name span{
	color: red;
}	
.box{
	width: 360px;
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.4);
}
textarea{
	width: 751px;
	height: 163px;
	margin-bottom: 35px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	resize: none;
}
@media screen and (max-width: 992px) {
	textarea {
		width: 360px;
	}
	.contact-form {
		width: 360px;
		margin: 0 auto;
	}
	.email{
		margin-top: 15px;
	}
}
.message{
	margin-top: 30px;
}
.button {
	width: 140px;
	margin: 0 auto;
}
button{
	width: 165px;
	height: 40px;
	background-color: #fcac45;
	color: white;
	font-family: "Open Sans - Semibold";
	font-size: 16px;
	font-weight: 400;
}
@media screen and ( max-width: 700px){
	/*.button{
		width: 165px;
		margin: 0 auto;
	}*/
}

.footer{
	background-color: #222222;
	padding-top: 30px;
	padding-bottom: 30px;
}
.social{
	max-width: 210px;
	margin: 0 auto;
}

.social a{
	margin-left: 7px;
}















